/* #### Text

- Pale Violet (sub-heading at the top of the app UI): hsl(276, 100%, 81%)
- Moderate Violet (chat on the left): hsl(276, 55%, 52%)
- Desaturated Dark Violet (chat on the right): hsl(271, 15%, 43%)
- Grayish Blue (placeholder text): hsl(206, 6%, 79%)
- Very Dark Desaturated Violet (main heading): hsl(271, 36%, 24%)
- Dark Grayish Violet (paragraph): hsl(270, 7%, 64%)

#### Gradients

These two colors are the vibrant background colors you see throughout the design and are applied as a linear gradient:

- Light Magenta: hsl(293, 100%, 63%)
- Light Violet: hsl(264, 100%, 61%)

### Secondary

- White: hsl(0, 0%, 100%)
- Light Grayish Violet (app background): hsl(270, 20%, 96%)
- Very Dark Desaturated Violet (submit button background): hsl(271, 36%, 24%)
- Very Light Magenta (radio button outline): hsl(289, 100%, 72%) */


@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&family=Epilogue:wght@500;700&family=Fraunces:opsz,wght@9..144,700&family=Kumbh+Sans:wght@400;700&family=Montserrat:wght@500;700&family=Overpass:wght@300;600&family=Rubik:wght@400;500;700&family=Ubuntu:wght@400;500;700&display=swap');
:root {

    /* fonts */

    --app-f-s: .4rem;
    --paragraph-f-s: .875rem;
    --head-f-s: 2.2rem;
    --price-f-s: .6rem;




    /* spacing */

    --space-3xs-2xs: clamp(0.31rem, calc(0.14rem + 0.85vw), 0.75rem);
    --space-2xs-xs: clamp(0.69rem, calc(0.52rem + 0.85vw), 1.13rem);
    --space-xs-s: clamp(1rem, calc(0.8rem + 0.98vw), 1.5rem);
    --space-s-m: clamp(1.31rem, calc(0.95rem + 1.83vw), 2.25rem);
    --space-m-l: clamp(2rem, calc(1.61rem + 1.95vw), 3rem);
    --space-l-xl: clamp(2.63rem, calc(1.89rem + 3.66vw), 4.5rem);
    --space-xl-2xl: clamp(3.94rem, calc(3.13rem + 4.02vw), 6rem);
    --space-2xl-3xl: clamp(5.25rem, calc(3.79rem + 7.32vw), 9rem);
    --space-3xl-4xl: clamp(7.88rem, calc(7.44rem + 2.2vw), 9rem);

    /* colors */
    /* text */
    --pale-violet: hsl(276, 100%, 81%);
    --moderate-violet: hsl(276, 55%, 52%);
    --des-dark-violet: hsl(271, 15%, 43%);
    --grayish-blue: hsl(206, 6%, 79%);
    --very-dark-des-violet: hsl(271, 36%, 24%);
    --dark-grayish-violet : hsl(270, 7%, 64%);
    
    /* gradient */

    --gradient : linear-gradient(90deg,hsl(293, 100%, 63%),hsl(264, 100%, 61%));
    --reverse-gradient : linear-gradient(270deg,hsl(293, 100%, 63%),hsl(264, 100%, 61%));


    /* secondary */

    --light-grayish-violet: hsl(270, 20%, 96%);
    --very-dark-desaturated-violet: hsl(271, 36%, 24%);
    --very-light-magenta: hsl(289, 100%, 72%);

}



*, ::after, ::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Rubik', sans-serif;   /*400,500,700*/
    overflow:hidden;
    /* min-height:100vh; */
}

.bkg-gradient {
    background: var(--gradient);
}
.bkg-reverse-gradient {
    background: var(--reverse-gradient);
}

.bkh-white {
    background-color: white;
}
.bkg-darker-grey {
    background-color: #ece3f4;
}
.bkg-right-after {
    background: #f9f4f2;
}
.bkg-light-grayish-violet{
    background-color:var(--light-grayish-violet);
}
.bkg-very-dark-desaturated-violet{
    background-color:var(--very-dark-desaturated-violet);
}
.bkg-very-light-magenta{
    background-color:var(--very-light-magenta);
}
.clr-pale-violet {
    color: var(--pale-violet);
}
.clr-moderate-violet {
    color: var(--moderate-violet);
}
.clr-des-dark-violet {
    color: var(--des-dark-violet);
}
.clr-grayish-blue {
    color: var(--grayish-blue);
}
.clr-very-dark-des-violet {
    color: var(--very-dark-des-violet);
}
.clr-dark-grayish-violet {
    color: var(--dark-grayish-violet);
}
.clr-white {
    color:white;
}
.f-w-300 {
    font-weight:300;
}
.f-w-400 {
    font-weight:400;
}
.f-w-500 {
    font-weight:500;
}
.f-w-700 {
    font-weight:700;
}
.h3-f-s {
    font-size:0.7rem;
}
.app-f-s {
   font-size: var(--app-f-s);
}
.paragraph-f-s{
   font-size: var(--paragraph-f-s);
}
.head-f-s{
    font-size: var(--head-f-s);
}
.price-f-s{
   font-size: var(--price-f-s);
}
.flex {
    display:flex;
}

.flex-align {
    display:flex;
    align-items: center;
}


.main {
    display:grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    align-content: center;
    min-height:100vh;
    position:relative;
}

.left-main {
    position:relative;
    outline:.6rem solid white;
    /* border-radius: calc(var(--space-xs-s)*1.2); */
    border-radius:1.1rem;
    justify-self: right;
    /* align-self: center; */
    display:grid;
    max-width:28%;
    min-width: 200px;
    margin-right:15%;
    z-index: 100;
    box-shadow: 5px 5px 25px 5px rgb(0,0,0,.2);
}

.left-main::before {
    content:'';
    background: var(--gradient);
    position:absolute;
    right:calc(100% - 3rem);
    top:-20rem;
    bottom:-12%;
    left:-250%;
    z-index:-1;
    border-bottom-right-radius: 20rem;
    border-bottom-left-radius: 20rem;

}


.avatar {
    max-height:1.2rem;
    border-radius: 50%;
    outline: 1px solid white;
}

.app-header {
    gap: .7rem;
    align-items: center;
    padding-top:1.5rem;
    padding-bottom:.8rem;
    padding-inline: 1rem;
    position:relative;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color:white;
}

.app-header::after {
    content:'';
    background:white;
    position:absolute;
    top:0;
    /* inset-inline:var(--space-s-m); */
    inset-inline: 3rem;
    height:.8rem;
    border-bottom-left-radius: 1.2rem;
    border-bottom-right-radius: 1.2rem;

}

.back-icon {
    position:relative;
    /* display:flex; */
}

.back-icon::before {
    content:'';
    position:absolute;
    bottom:-1px;
    height:.4rem;
    width:2px;
    background: white;
    transform:rotate(40deg);
}
.back-icon::after {
    content:'';
    position:absolute;
    top:-1px;
    height:.4rem;
    width:2px;
    background: white;
    transform:rotate(320deg);
}

.triple-dot {
    margin-left:auto;
    position:relative;
    width:2px;
    height:2px;
    border-radius: 50%;
    background:white;
}
.triple-dot::before {
    content:'';
    position:absolute;
    width:2px;
    height:2px;
    border-radius: 50%;
    background:white;
    bottom: calc(100% + 2px);
}
.triple-dot::after {
    content:'';
    position:absolute;
    width:2px;
    height:2px;
    border-radius: 50%;
    background:white;
    top: calc(100% + 2px);
}
.msg-window {
    padding: .4rem;
    display:grid;
    gap:.4rem;
}
.left-msg {
    max-width:60%;
    padding:calc(var(--space-3xs-2xs)*.5);
    border-top-right-radius: .6rem;
    border-bottom-right-radius: .6rem;
    border-bottom-left-radius: .2rem;
    border-top-left-radius: .6rem;
    line-height: 1.3;
}

.right-msg {
    max-width:65%;
    padding:calc(var(--space-3xs-2xs)*.7);
    border-top-left-radius: .6rem;
    border-bottom-left-radius: .6rem;
    border-bottom-right-radius: .2rem;
    border-top-right-radius: .6rem;
    line-height: 1.3;
    justify-self: right;
}

.dog-images {
    display:flex;
    max-width: 60%;
    gap:.5rem;
    justify-self: right;
}

.dog-images > img {
    width:100%;
    border-radius: 25%;
}

.price-msg {
    display: flex;
    max-width:70%;
    gap:.5rem;
    align-items: center;
    padding:.5rem;
    border-top-right-radius: .5rem;
    border-bottom-right-radius: .5rem;
    border-bottom-left-radius: .3rem;
    border-top-left-radius: .5rem;
}

.p-price {
    margin-left:auto;
    margin-right:.4rem;
}

.price-msg::before {
    content:'';
    width:.6rem;
    height:.6rem;
    border-radius: 50%;
    background:none;
    box-shadow: 0 0 .1px .1px  white;
    align-self: center;
}
.type-msg {
    padding-left:1.2rem;
    border-radius: .8rem;
    margin-top: .3rem;
}

.p-msg {
    padding-block:.6rem;
}

.msg-arrow {
    height:80%;
    aspect-ratio: 1/1;
    margin-left:auto;
    border-radius: 50%;
    margin-right: .5rem;
    position:relative;
}

.msg-arrow::before {
    content: '';
    position: absolute;
    height:30%;
    left:50%;
    bottom:42%;
    width:2px;
    transform: rotate(-55deg);
    background-color: white;
}
.msg-arrow::after {
    content: '';
    position: absolute;
    height:30%;
    left:50%;
    top:42%;
    width:2px;
    transform: rotate(55deg);
    background-color: white;
}

.right-main {
    align-self: center;
    display:grid;
    gap:1rem;
    line-height: 1.6;
    margin-left: var(--space-m-l);
    max-width:65%;
    position:relative;
    z-index: 200;
}

.main::before {
    content: '';
    position:absolute;
    top:13%;
    bottom:0;
    left:80%;
    right:-10%;
    background-color: #f0f0f0;
    border-top-left-radius: 15rem;
    border-top-right-radius: 15rem;
    /* z-index:-1; */
}

@media screen and (max-width:500px) {
    
    body {
        overflow-y: scroll;
    }
    
    .main {
        grid-auto-flow: row;
        padding-block: 5rem;
        gap:3rem;
    }
    .main::before{
        display:none;
    }


.left-main {
    justify-self: center;
    max-width:min(90%,200px);
    margin:0;
}

.left-main::before {
    right:50%;
    bottom:5%;
}

.head-f-s {
    line-height: normal;
    font-size: 1.8rem;
}

.right-main {
    margin-inline:auto;
    text-align: center;
    max-width: 85%;
    justify-content: center;
}
.paragraph-f-s {
    font-size: .725rem;
}

}